<app-barra-navegacion></app-barra-navegacion>
<div id="contenedor">
  <div id="cabecera">
    <p>Consumo de agua</p>
  </div>
  <div id="menu">
    <ul>
      <li>Consumido</li>
      <table style=" border: 1px solid #000;">
        <tr>
          <td>
            ID:
          </td>
          <td>
            Cuenta:
          </td>
        </tr>
        <tr>
          <td>Litros</td>
        </tr>
      </table>
    </ul>
    <div id="contenido">
      <h1>Válvula</h1>
      <img *ngIf="valveOpen" src="../../assets/imagenes/Icono_ValvulaAgua_Abierta.png" alt="" width="200" height="185">
      <img *ngIf="!valveOpen" src="../../assets/imagenes/Icono_ValvulaAgua_Cerrada.png" alt="" width="200" height="185">

    </div>
    <div id="contenido2">
      <p>Estado:</p>
      <p class="Estado" [ngClass]="{'open': valveOpen, 'closed': !valveOpen}">{{ valveOpen ? 'Abierto' :
        'Cerrado' }}</p>
      <button (click)="rele()" [ngClass]="{'open': valveOpen, 'closed': !valveOpen}">{{ valveOpen ? 'Cerrar' :
        'Abrir' }}</button>
    </div>
    <div id="pie">
      <p>Párrafo en el pie de la página</p>
    </div>
  </div>
  <div class="espacio1"></div>
</div>
<div class="espacio"></div>