<app-barra-navegacion></app-barra-navegacion>
<div class="wrapper">
  <div class="container">
    <main>
      <div class="background-container">
        <div class="banner-container">
          <h1>Consumo de agua</h1>
        </div>
        <br>
        <div class="form-container">
          <div class="inicio-container">
            <div class="cuadro-gris text-center">
              <h2>Válvula</h2>
              <img *ngIf="valveOpen" src="../../assets/imagenes/Icono_ValvulaAgua_Abierta.png" alt="" width="200" height="185">
              <img *ngIf="!valveOpen" src="../../assets/imagenes/Icono_ValvulaAgua_Cerrada.png" alt="" width="200" height="185">
              <p class="text">Estado:</p>
              <p class="Estado" [ngClass]="{'open': valveOpen, 'closed': !valveOpen}">{{ valveOpen ? 'Abierto' :
                'Cerrado' }}</p>
              <button (click)="rele()" [ngClass]="{'openbtn': valveOpen, 'closedbtn': !valveOpen}">{{ valveOpen ? 'Cerrar' :
                'Abrir' }}</button> 
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<app-footer></app-footer>