<app-barra-navegacion></app-barra-navegacion>
<div class="wrapper">
  <div class="container">
    <main>
      <div class="background-container">
        <div class="banner-container">
          <h1>Consumo de agua</h1>
        </div>
        <br>
        <div class="form-container">
          <div class="inicio-container">
            <div class="cuadro-gris text-center">
              <h2 class="bi bi-speedometer">Sensor de agua</h2>
              <br><br>
              <img [src]="getCaudalImagen(consumo[0].flujo)" alt="Medidor de caudal">
              <p class="text">Litros contados</p>
              <label *ngFor="let C of consumo" style="font-size: xx-large; color: blue; font-weight: bold">
                {{C.flujo}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<app-footer></app-footer>