body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
  }
  
  .container {
    width: auto;
    max-width: 800px;
    margin: auto;
    position: relative;
  }
  
  .background-container {
    width: 100%;
    min-height: 100px;
    height: fit-content;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 217, 255, 0.1.7);
  }
  
  .background-container div {
    margin: 5px 0px;
    color: white;
    transition: all 500ms;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 767px) {
    .login-register-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .login-form {
      width: 100%;
      max-width: 400px;
      padding: 20px;
      margin: auto;
      position: static;
    }
  
    .registro-btn {
      padding: 10px 40px;
      margin-top: 40px;
      border: none;
      font-size: 14px;
      background: #46A2FD;
      font-weight: 600;
      cursor: pointer;
      color: white;
      outline: none;
    }
  
    .have-account {
      color: white;
    }
  }
  