<div class="wrapper">
  <div class="container">
    <main>
      <div class="background-container">
        <div class="form-container" *ngIf="!loading">
          <div class="login-register-container text-center">
            <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario" class="login-form">
              <h2>Registrarse</h2>
          <input type="text" name="Nombre" placeholder="Nombre completo" class="form-control" autofocus
                      formControlName="Nombre">
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Nombre')?.hasError('required') && registrarUsuario.get('Nombre')?.touched">
                      La <strong>Nombre</strong> es requerido
                    </span>
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Nombre')?.hasError('minlength') && registrarUsuario.get('Nombre')?.touched">
                      La <strong>Nombre</strong> debe de tener al menos 3 caracteres
                    </span>
                    <br>
                    <input type="text" name="ApellidoPa" placeholder="Apelllido paterno" class="form-control"
                      formControlName="ApellidoPaterno">
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('ApellidoPaterno')?.hasError('required') && registrarUsuario.get('ApellidoPaterno')?.touched">
                      El <strong>Apelllido paterno</strong> es requerido
                    </span>
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('ApellidoPaterno')?.hasError('minlength') && registrarUsuario.get('ApellidoPaterno')?.touched">
                      El <strong>Apelllido paterno</strong> debe de tener al menos 3 caracteres
                    </span>
                    <br>
                    <input type="text" name="ApellidoMa" placeholder="Apelllido materno" class="form-control"
                      formControlName="ApellidoMaterno">
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('ApellidoMaterno')?.hasError('required') && registrarUsuario.get('ApellidoMaterno')?.touched">
                      El <strong>Apelllido Materno</strong> es requerido
                    </span>
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('ApellidoMaterno')?.hasError('minlength') && registrarUsuario.get('ApellidoMaterno')?.touched">
                      El <strong>Apelllido Materno</strong> debe de tener al menos 3 caracteres
                    </span>
                    <br>
                    <input type="text" name="Correo" class="form-control" placeholder="Correo electrónico"
                      formControlName="Correo">
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Correo')?.hasError('required') && registrarUsuario.get('Correo')?.touched">
                      El <strong>correo</strong> es requerido
                    </span>
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Correo')?.hasError('email') && registrarUsuario.get('Correo')?.touched">
                      El <strong>correo</strong> es invalido
                    </span>
                    <br>
                    <input type="text" name="Direccion" class="form-control" placeholder="Escribir tu dirección"
                      formControlName="Direccion">
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Direccion')?.hasError('required') && registrarUsuario.get('Direccion')?.touched">
                      La <strong>Dirección</strong> es requerida
                    </span>
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Direccion')?.hasError('minlength') && registrarUsuario.get('Direccion')?.touched">
                      La <strong>Dirección</strong> debe de tener al menos 3 caracteres
                    </span>
                    <br>
                    <input type="date" name="FechaNacimiento" class="form-control" formControlName="FechaNacimiento">
                    <br>
                    <div class="input-group">
                      <input type="{{ mostrarContrasena ? 'text' : 'password' }}" name="Password" id="pass1" class="form-control"
                      placeholder="Escribir contraseña" formControlName="Contrasena">
                      <button type="button" class="mostrar-ocultar-btn btn btn-primary" (click)="toggleMostrarContrasena()"> 
                        <i [ngClass]="{'bi-eye': mostrarContrasena, 'bi-eye-slash': !mostrarContrasena}"></i>
                      </button>
                    </div>
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Contrasena')?.hasError('required') && registrarUsuario.get('Contrasena')?.touched">
                      La <strong>contraseña</strong> es requerida
                    </span>
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Contrasena')?.hasError('minlength') && registrarUsuario.get('Contrasena')?.touched">
                      La <strong>contraseña</strong> debe de tener al menos 8 caracteres
                    </span>
                    <br>
                      <div class="input-group">
                        <input type="{{ mostrarContrasena1 ? 'text' : 'password' }}" name="Password2" id="pass2" class="form-control"
                        placeholder="Confirmar contraseña" formControlName="Confirmarcontrasena">
                        <button type="button" class="mostrar-ocultar-btn btn btn-primary" (click)="toggleMostrarContrasena1()"> 
                          <i [ngClass]="{'bi-eye': mostrarContrasena1, 'bi-eye-slash': !mostrarContrasena1}"></i>
                        </button>
                      </div>
                      <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Confirmarcontrasena')?.hasError('required') && registrarUsuario.get('Confirmarcontrasena')?.touched">
                      La <strong>contraseña</strong> es requerida
                    </span>
                    <span class="text-danger errorLabel"
                      *ngIf="registrarUsuario.get('Confirmarcontrasena')?.hasError('minlength') && registrarUsuario.get('Confirmarcontrasena')?.touched">
                      La <strong>contraseña</strong> debe de tener al menos 8 caracteres
                    </span>
                    <br>
                    <button class="registro" class="btn btn-lg btn-info btn-block mt-3" type="submit"
                      [disabled]="registrarUsuario.invalid">Registrarse</button>

              <!-- ... Resto del formulario ... -->

              
              <div class="have-account">
                <p>¿Ya tienes cuenta?</p>
                <button class="btn btn-lg btn-info btn-block mt-3" routerLink="/login">Ingresar</button>
              </div>
            </form>
          </div>
          <app-spinner *ngIf="loading"></app-spinner>
        </div>
      </div>
    </main>
  </div>
</div>