<div class="wrapper">
  <div class="container d-flex align-items-center justify-content-center">
    <main>
      <div class="contenedor__todo">
        <div class="caja__trasera">
          <div class="caja__trasera-login">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
        <div class="contenedor__login-register">
          <div *ngIf="!loading">
            <form class="formulario__login" (ngSubmit)="recuperar()" [formGroup]="recuperarUsuario">
              <h2>Recuperar contraseña</h2>
              <input type="text" name="Correo" class="form-control" formControlName="Correo"
                placeholder="Correo electrónico" formControlName="Correo">
              <span class="text-danger errorLabel"
                *ngIf="recuperarUsuario.get('Correo')?.hasError('required') && recuperarUsuario.get('Correo')?.touched">
                El <strong>correo</strong> es requerido
              </span>
              <span class="text-danger errorLabel"
                *ngIf="recuperarUsuario.get('Correo')?.hasError('email') && recuperarUsuario.get('Correo')?.touched">
                El <strong>correo</strong> es inválido
              </span>
              <button class="registro" class="btn btn-lg btn-info btn-block mt-3" type="submit"
                [disabled]="recuperarUsuario.invalid">Enviar correo</button>
              <div class="tienescuenta mt-5">
                <button class="btn btn-primary" routerLink="/login">Volver</button>
              </div>
            </form>
          </div>
          <app-spinner *ngIf="loading"></app-spinner>
        </div>
      </div>
    </main>
  </div>
</div>