<div class="wrapper">
  <div class="container">
    <main>
      <div class="background-container">
        <div class="form-container" *ngIf="!loading">
          <div class="login-register-container text-center">
            <form (ngSubmit)="recuperar()" [formGroup]="recuperarUsuario" class="login-form">
              <h2>Recuperar contraseña</h2>
              <input type="text" name="Correo" class="form-control" formControlName="Correo"
                placeholder="Correo electrónico" formControlName="Correo">
              <span class="text-danger errorLabel"
                *ngIf="recuperarUsuario.get('Correo')?.hasError('required') && recuperarUsuario.get('Correo')?.touched">
                El <strong>correo</strong> es requerido
              </span>
              <span class="text-danger errorLabel"
                *ngIf="recuperarUsuario.get('Correo')?.hasError('email') && recuperarUsuario.get('Correo')?.touched">
                El <strong>correo</strong> es inválido
              </span>
            <button class="registro" class="btn btn-lg btn-info btn-block mt-3" type="submit"
            [disabled]="recuperarUsuario.invalid">Enviar correo</button>
          
              <!-- ... Resto del formulario ... -->
              
              <div class="have-account">
                <p>Iniciar sesión</p>
                <button class="btn btn-lg btn-info btn-block mt-3" routerLink="/login">Ingresar</button>
              </div>
            </form>
          </div>
          <app-spinner *ngIf="loading"></app-spinner>
        </div>
      </div>
    </main>
  </div>
</div>