<app-barra-navegacion></app-barra-navegacion>

<div class="container text-center">
      <!-- Tarjeta 1 -->
      <div class="card mb-3 mx-auto banner" style="max-width: 1000px; background-image: url('../../../assets/imagenes/AquaControlConnect-Banner.png'); background-size: cover;">
        <div class="row g-0">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta 2 -->
    <div class="card mb-3 mx-auto" style="max-width: 1000px; background-image: url('../../../assets/imagenes/Fondo_acercade.jpg'); background-size: cover;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/imagenes/carpeta-icono.png" class="img-fluid rounded-start imagenes" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Antecedentes del proyecto</h5>
            <p class="card-text">La iniciativa surge de la identificación de problemas en comunidades locales y hogares. Un miembro del equipo compartió la experiencia de desperdicio de agua en su casa, donde el agua se escapaba de los recipientes de almacenamiento. Esta situación inspiró la elección de abordar la administración del consumo de agua como el enfoque central del proyecto.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Tarjeta 3 -->
    <div class="card mb-3 mx-auto" style="max-width: 1000px; background-image: url('../../../assets/imagenes/Fondo_acercade.jpg'); background-size: cover;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/imagenes/Logo-icono.png" class="img-fluid rounded-start " alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Descripción del proyecto</h5>
            <p class="card-text">AquaControl Connect es una solución innovadora que combina una página web y una aplicación móvil diseñadas para brindar un control preciso y consciente del consumo de agua en el hogar. La clave de este sistema es la implementación de un avanzado sensor de flujo de agua que registra de manera detallada el uso del recurso hídrico.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Tarjeta 4 -->
    <div class="card mb-3 mx-auto" style="max-width: 1000px; background-image: url('../../../assets/imagenes/Fondo_acercade.jpg'); background-size: cover;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/imagenes/objetivo-icono.png" class="img-fluid rounded-start imagenes" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Objetivo general del proyecto</h5>
            <p class="card-text">Desarrollar e implementar un sistema de monitoreo y registro automatizado del consumo de agua en el hogar, mediante la integración de sensores de flujo y un programa de gestión, con el propósito de facilitar y concientizar sobre el uso eficiente del recurso acuífero, desde la apertura hasta el cierre de las llaves, permitiendo un seguimiento del consumo.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Tarjeta 5 -->
    <div class="card mb-3 mx-auto" style="max-width: 1000px; background-image: url('../../../assets/imagenes/Fondo_acercade.jpg'); background-size: cover;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/imagenes/sensible-icono.png" class="img-fluid rounded-start imagenes" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Tipo de proyecto</h5>
            <p class="card-text">AquaControl Connect es un proyecto tecnológico debido a su enfoque innovador y el uso de tecnología para abordar un problema específico. La implementación de un sensor de flujo de agua, la creación de una página web y una aplicación móvil, así como la capacidad de control remoto del suministro de agua, son elementos clave que destacan su naturaleza tecnológica.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Tarjeta 6 -->
    <div class="card mb-3 mx-auto" style="max-width: 1000px; background-image: url('../../../assets/imagenes/Fondo_acercade.jpg'); background-size: cover; text-align: center;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/imagenes/necesidades-icono.png" class="img-fluid rounded-start imagenes" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Necesidad que atiende</h5>
            <p class="card-text">Este proyecto aborda la necesidad de controlar y concientizar el consumo de agua mediante el desarrollo de un prototipo de software.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Tarjeta 7 -->
    <div class="card mb-3 mx-auto" style="max-width: 1000px; background-image: url('../../../assets/imagenes/Fondo_acercade.jpg'); background-size: cover; text-align: center;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/imagenes/hogar-icono.png" class="img-fluid rounded-start imagenes" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Impacto del proyecto en la sociedad</h5>
            <p class="card-text">AquaControl Connect genera un impacto positivo en la sociedad al fomentar el ahorro de agua en los hogares, reducir costos para los usuarios, y proporcionar datos valiosos para comprender y gestionar el consumo a nivel comunitario. Además, contribuye a la concienciación ambiental al educar a los usuarios sobre prácticas responsables. Al liberar presión en los sistemas de agua, el proyecto mejora la eficiencia de las infraestructuras, asegurando un suministro sostenible para la comunidad.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Tarjeta 8 -->
    <div class="card mb-3 mx-auto" style="max-width: 1000px; background-image: url('../../../assets/imagenes/Fondo_acercade.jpg'); background-size: cover; text-align: center;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/imagenes/App-movil-icono.png" class="img-fluid rounded-start imagenes" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Applicacion Movil</h5>
            <p class="card-text">AquaControl Connect descarga la app para tener mas accesibilidad.</p>
            <button class="btn btn-success">Descargar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  