<div class="wrapper">
    <div class="container d-flex align-items-center justify-content-center">
      <!-- El main -->
      <main>
        <!-- Contenedor de todo -->
        <div class="contenedor__todo">
          <!-- Contenedor caja trasera -->
          <div class="caja__trasera">
            <!-- Contenedor caja trasera Inicio de sesión -->
            <div class="caja__trasera-login">
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
          </div>
          <!--Formulario de Login y registro-->
          <div class="contenedor__login-register">
            <div>
              <!--Login-->
              <form class="formulario__login">
                <h2>Verificar correo electrónico</h2>
                <div class="tienescuenta mt-5">
                  <p>Le enviamos un correo para su verificación</p>
                  <button class="btn btn-primary" routerLink="/login">Volver</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
</div>