<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-1">
  <div class="container-fluid">
    <a class="navbar-brand"><span class="icon-home3"></span> Agua del Nuevo Mundo.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul>
        <li>
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active"><span><img src="../../../assets/imagenes/phone-icon.svg" alt="" width="20"
                    height="25"></span>+526441553475</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link">
                <span><img src="../../../assets/imagenes/email-icon.svg" alt="" width="20" height="25"></span>
                AQUACONTROL-CONNECT@example.com
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>